.navbar{
    display: none;
}

.btn{
    display: none;
}

.sidebar-nav{
    display: none;
}

.breadcrumb{
    display: none;
}

#menuLateral{
    display: none;
}

img{
    width: 60%;
    height: 60%;
}